
########################
# IDE 설정
########################
.idea/
*.iml

########################
# Gradle
########################
.gradle/

########################
# 빌드 산출물
########################
build/
out/

########################
# 로그 & OS 특수 파일
########################
*.log
.DS_Store
